<div class="home-page">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column mr-5 mt-5">
            <h1 class="display-3 fw-bold" id="app-title">Blog App</h1>
            <p class="fs-3">Blog App helps you connect and share with the people in your life.</p>
        </div>

        <div class="card text-center" id="signin-card" data-aos="flip-up">
            <div class="card-body">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="mb-3">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg", placeholder:"Email" %>
                    </div>
                    <div class="mb-3">
                        <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-lg", placeholder:"Password" %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                        <div class="mb-3">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    <% end %>
                    <div class="d-grid gap-2">
                        <%= f.submit "Log in", class:"btn btn-success btn-lg" %>
                    </div>
                    <div>
                        <%= link_to "Forgot your password?", new_password_path(resource_name), class:"text-decoration-none text-success" %>
                    </div>
                <% end %>
            </div>

            <div class="card-footer">
                <%= link_to "Create New Account", new_user_registration_path, class:"btn btn-primary" %>
            </div>
        </div>
    </div>    
</div>
