<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <%= image_tag "favicon.ico" %>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="form-group">
                        <%= link_to '<i class="bi bi-house"></i> Home'.html_safe, root_path, class:"nav-link" %>
                    </div>                    
                </li>

                <li class="nav-item">
                        <%= link_to '<i class="bi bi-journal-richtext"></i> Blogs'.html_safe, blogs_path, class:"nav-link" %>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown ms-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= current_user.username %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <h1 class="dropdown-header fs-4"><%= current_user.email %></h1>
                        </li>
                        <li>
                            <%= link_to "Edit Profile", edit_user_registration_path, class:"dropdown-item" %>
                        </li>
                        <li>
                            <%= link_to "Change Password", edit_user_password_path, class:"dropdown-item" %>
                        </li>
                        <li>
                            <hr class="dropdown-divider"></li>
                        <li>
                            <%= link_to "Sign out", destroy_user_session_path, class:"dropdown-item" %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>